<% @arrows.each do |arrow| %>
<div class="container col-md-4 mb-4">
    <div class="card border-white">
        <div class="card-body">
            <div class="row">
                <span class="col-8"><b>DATE:</b> <%= ActiveSupport::TimeZone["Central Time (US & Canada)"].parse(arrow.created_at.to_s).utc.to_date.strftime("%m/%b/%Y")[1..-1] %></span><br /><br />
                <%= image_tag("avatar.png", alt: "Login Logo", size: '70', class:"col-4") %><br /><br />
            </div>
        </div>
        <div class="card-footer border-warning text-white bg-warning text-right">
            <b><a href="<%= "arrows/#{arrow.id}" %>" class="text-white">More info &nbsp;<i>V</i></a></b>
        </div>
    </div>
</div>
<% end %>