<% @arrows.each do |arrow| %>
<div class="card col-md-4">
    <div class="card-body">
        <span>DATE: <%= ActiveSupport::TimeZone["Central Time (US & Canada)"].parse(arrow.created_at.to_s).utc.to_date.strftime("%m/%b/%Y")[1..-1] %></span><br /><br />
        <%= image_tag("avatar.png", alt: "Login Logo", size: '50') %><br /><br />
        <a href="<%= "arrows/#{arrow.id}" %>" class="btn btn-warning btn-small btn-block">More info</a>
    </div>
</div>
<% end %>