<div class="container">
    <div class="card border border-white">
        <div class="row">
            <div class="card-body">
                <%= render 'arrows/all_arrows' %>
            </div>
        </div>
    </div>
</div>