<div>
  <% @arrows.each do |arrow| %>
    <span><%= arrow.created_at %></span><br />
  <% end %>
  <br />
  <span><%= "Welcome, #{current_user.name}" %></span><br>
  <%= link_to "Sign out", destroy_user_session_path, :method=>'delete' %>
</div>
