<div class="container">
    <div class="card border-white">
        <div class="card-body">
            <%= render "arrows/show_arrow" %>
        </div>
        <div class="card-footer border-warning text-white bg-warning text-right">
            <b><%= link_to "Go back", root_path, class: "text-white" %></b>
        </div>
    </div>
</div>